<!DOCTYPE html>
    <html lang="es">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de la Reserva</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

        body {
            font-family: 'Nunito Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            background-color: #ffffff;
            border-radius: 20px;
            border: solid 1px rgba(89,83,164,0.5);
            max-width: 500px;
            text-align: center;
        }

        .header {
            background-color: rgba(89,83,164,0.5);
            padding: 20px;
            padding-bottom: 10px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .main {
            padding: 0;
        }

        .card h2 {
            font-size: 30px;
            font-weight: 800;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #000000;
        }

        .description {
            font-size: 16px;
            color: #000000;
            text-align: left;
            margin: 20px;
            margin-bottom: 8px;
        }

        .card ul {
            list-style-type: none;
            padding: 0;
            margin: 20px 20px;
            text-align: left;
        }

        .card ul li {
            font-size: 16px;
            color: #383838;
            margin-bottom: 10px;
        }

        .footer {
            font-size: 14px;
            color: #aaa;
            text-align: right;
            padding: 10px;
            padding-right: 20px;
        }
    </style>
    </head>
    <body>
        <div class="card">
            <div class="header">
                <img src="https://cdn-icons-png.freepik.com/256/992/992650.png?semt=ais_hybrid" alt="check" width="100" height="100">
                <h2>Resumen de la reserva</h2>
            </div>
            <main class="main">
                <p class="description">¡Hola! <%= name %>,</p>
                <p class="description">A continuación te presentamos el resumen de la reserva</p>
                <ul>
                    <li><strong style="font-weight: 900; font-size: 17px;">Servicio:</strong> <%= service %></li>
                    <li><strong style="font-weight: 900; font-size: 17px;">Sede:</strong> <%= headquearters %></li>
                    <li><strong style="font-weight: 900; font-size: 17px;">Fecha de la reserva:</strong> <%= dateReservation %></li>
                    <li><strong style="font-weight: 900; font-size: 17px;">Hora de la reserva:</strong> <%= timeReservation %></li>
                </ul>
            </main>
            <div class="footer">Powered by ViTurno</div>
        </div>
    </body>
</html>
